{% extends 'base.html' %}
{% load static %}


{% block title %} Application {% endblock title %}

{% block content %}

<div class="content">
    <div class="regform"><h1>Application Form </h1></div>
    <div class="main">
        <form action="">
            {% csrf_token %}
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="date" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
            <input type="text" name="pass_num" placeholder="Passport Number">
        </form>
    </div>
</div>

{% endblock content %}