{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/application/application.css' %}">

</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="{% static 'images/logo.png' %}" alt="" class="logo">
            <ul>
                <li><a href="{% url 'base:home'%}">Home</a></li>
                <li><a href="{% url 'application:home'%}">Apply</a></li>
                <li><a href="{% url 'interview:home'%}">Interview</a></li>
                <li><a href="{% url 'about:home'%}">About</a></li>
                <li><a href="{% url 'contact:home'%}">Contact</a></li>
                <li><a href="{% url 'track:home'%}">Track Process</a></li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock content %}
</body>
</html>